@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
	background-color: #000000;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url("./assets/bg.png");
}

@font-face {
	font-family: "Intel One Mono";
	src: url("assets/fonts/intelone-mono-font-family-medium.ttf");
}

@font-face {
	font-family: "Intel One Mono";
	src: url("assets/fonts/intelone-mono-font-family-bold.ttf");
	font-weight: bold;
}

@keyframes tilt {
	0%,
	50%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(0.8deg);
	}
	75% {
		transform: rotate(-0.8deg);
	}
}
